# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
build/

# Environment
.env
.env.*
venv/
env/

# Uploads (user generated content)
HelloFlask/static/uploads/

# Database
*.db
*.sqlite
*.sql

# Docker
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Migrations (optional — some people include these)
# migrations/

#Nohup
nohup.out